.header{
    display:flex;
    justify-content: space-between;
    background-color: beige;
    border: 1px solid black;
    position: sticky;
    top:0;
    z-index: 10;
}
.header-logo-img{
    width:95px;
    height: 70px;
    border-radius: 50%;
    margin: 5px 0px 0px 5px;
}
.nav-item > ul{
    display: flex;
    padding:0px 20px;
    list-style-type: none;
}
.nav-item > ul > li{
    padding:10px;
    font-size: 20px;
}