.card{
    width: 230px;
    margin:5px;
    background-color: rgb(209, 202, 202);
    padding: 5px;
}
.card:hover{
    cursor: pointer;
    border: 1px solid grey;
}
.food-image{
    width:100%;
    height:100%;
    /* border: 1px solid black; */
}
.food-img{
    height:50%
}