.card-add-minus{
    width: 25%;
    position: absolute;
    margin-top: 16%;
    color: white;
    border-radius: 5px;
    height: 30%;
    background-color: green;
}
.plus,.minus{
    cursor: pointer;
    background-color: green;
    border: none;
    border-radius: 5px;
    color:white;
}
.second-row{
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    margin-top: 2%;
}
.second-desc-part{
    display: flex;
    justify-content: center;
}
.rating-time-price{
    width:60%;
}
.rating-time-price h3{
    font-size: 12px;
}
.hotel-data{
    width:60%;
    padding-left: 2.5%;
}
#boot-icon-green{
    color: green;
}
#boot-icon-orange{
    color:rgb(196, 101, 38);
}
.item-img{
    width: 30%;
    border-radius: 10px;
}